* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, ::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.flex-js-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 80%;
  margin: auto;
  padding: 0 20px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: #394959;
  height: 50px;
}

.logo {
  width: 40px;
}

.header__title {
  font-size: 24px;
  font-family: "Segoe UI";
  font-weight: 300;
  margin-left: 5px;
  color: #fff;
}

.info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body, .footer {
  font-family: "Inter", sans-serif;
}

.info__blocks {
  vertical-align: top;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  vertical-align: top;
}

.info__title {
  font-size: 40px;
  text-align: center;
  padding: 60px 0 20px 0;
}

.block {
  vertical-align: top;
  margin: 0 0 20px 0;
  width: 100%;
}
.block .button {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.block .active {
  border-radius: 5px 5px 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.block .active .button {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.information {
  cursor: pointer;
  margin: auto;
  background: #6c92af;
  color: #fff;
  padding: 20px;
  width: 100%;
  line-height: 1.5;
  border: 1px solid #c4d4e2;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.information span {
  font-size: 16px;
}
.information .button {
  background-color: #6c92af;
}
.information .button img {
  max-width: 20px;
}

.content {
  width: 100%;
  display: none;
  padding: 20px;
  background: #c4d4e2;
  line-height: 1.5;
  border-radius: 0 0 5px 5px;
}
.content a {
  font-size: 12px;
}
.content li {
  text-align: left;
  font-size: 12px;
}
.content ol {
  padding: 0 0 0 30px;
}
.content p {
  margin-bottom: 5px;
  font-size: 12px;
}

.content_title {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  text-align: center;
  padding: 0 0 30px 0;
  font-size: 18px;
  width: 70%;
  margin: 0 auto;
}

.footer {
  width: 100%;
  height: 180px;
  background: #394959;
  color: #fff;
  font-weight: 400;
}
.footer a {
  color: #fff;
}

.footer__info-p {
  padding-bottom: 10px;
  line-height: 1.5;
}
.footer__info-p:last-child {
  margin-bottom: 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.footer__address img {
  max-height: 25px;
  padding: 0 3px 0 0;
}

.footer__phone img {
  padding: 0 3px 0 0;
  max-width: 25px;
  max-height: 17px;
}

.footer__mail img {
  padding: 0 3px 0 0;
  max-width: 23px;
  max-height: 16px;
}

.footer__inst img {
  padding: 0 3px 0 0;
  max-width: 25px;
  max-height: 19px;
}

.footer__fb img {
  padding: 0 3px 0 0;
  max-width: 25px;
  max-height: 19px;
}

@media (max-width: 1920px) {
  .info__title {
    font-size: calc(28px + (40 - 28) * ((100vw - 320px) / (1920 - 320)));
  }

  .text {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  }

  .information span {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  }

  .content .content_title, .content p, .content li {
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
  }

  footer p {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }

  .block span {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .info .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__blocks {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }

  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }

  .footer {
    height: 400px;
  }
  .footer .footer__info, .footer .footer__social {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .footer__logo {
    max-width: 150px;
  }
}